@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC Read/Write Test</h1>
    <p class="lead"><canvas id="testChart" width="400" height="400"></canvas></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Run Tests &raquo;</a></p>
</div>
