@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC Read/Write Test</h1>
    <p class="lead" id="chart-container" style="display:none"><canvas id="testChart" width="400" height="400"></canvas></p>
    <p>Number of inserts: <input id="num-insert" type="text"/></p>
    <p>Number of reads: <input id="num-read" type="text"/></p>
    <p><a href="#" class="btn btn-primary btn-lg">Run Tests &raquo;</a></p>
</div>

@section scripts{
    <script>
        $(function() {
            $('btn-primary btn-lg').on('click', function () {
                var ormArray = ["Entity Framework 6.1.3", "Dapper 1.4.2", "ADO.NET (SqlDataReader)"];   //Entity=0, Dapper=1, ADO.NET=2
                var readResults = new Object();

                //First, test the reads
                ormArray.forEach(function (item, index, arr) {
                    $.ajax({
                        url: "http://localhost:53777/ReadEntries?numberOfEntries=" + $('#num-reads').get(0) + "&ormType=" + index,
                        dataType: "application/json",
                        contentType: "json",
                    }).done(function (result) {
                        readResults[index] = result.time;
                    });
                });

                var data = {
                    labels: ormArray,
                    datasets: [
                        {
                            fillColor: "rgba(220,220,220,0.5)",
                            strokeColor: "rgba(220,220,220,0.8)",
                            highlightFill: "rgba(220,220,220,0.75)",
                            highlightStroke: "rgba(220,220,220,1)",
                            data: [readResults[0], readResults[1], readResults[2]]
                        },
                        {
                            fillColor: "rgba(151,187,205,0.5)",
                            strokeColor: "rgba(151,187,205,0.8)",
                            highlightFill: "rgba(151,187,205,0.75)",
                            highlightStroke: "rgba(151,187,205,1)",
                        }
                    ]
                };

                $('#chart-container').show();
                var resultChart = $("#testChart").get(0).getContent("2d");
                var newChart = new Chart(resultChart).Bar(data, {});

            });

        });




    </script>
}